@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html{
	height:100%;
	overflow-x:hidden;
}

body{
	width:100%;
	height:auto;
	background-color:$sch-bg-basic;
	font-family:$font-page;
	color:$sch-basic;
	font-weight:400;
	font-size:$sch-s-normal;
	overflow-x:hidden;
	padding-top:118px;
	@include breakpoint(1200px){
		padding-top: 90px;
	}
	@include breakpoint(767px){
		padding-top: 135px;
	}
}

h1, h2, h3, h4, h5, h6{
	font-weight: $sch-regular;
	letter-spacing: -0.5px;
}

h6{
	margin-top: 40px;
	text-align: center;
	font-style: italic;
	font-size: 24px;
	font-weight: $sch-light;
}

.heading{
	margin-bottom: 20px;
	text-transform: uppercase;
    margin: 25px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    &.single-post{
    	text-align: left;
    	font-size: 22px;
    	text-transform: none;
    }
    &.smaller{
    	font-size: 18px;
    	font-weight: 600;
    }
    span{
    	&.phrase{
    		font-style: italic;
    		font-size: 18px;
    	}
    }
}

.basic-text, address{
	line-height:170%;
	text-align: justify;
	font-size: $sch-s-small + 2;
	@include breakpoint(800px){
		font-size: $sch-s-normal - 1;
	}
	p{
		margin-bottom:10px;
		&:last-child{
			margin-bottom:0;
		}
	}
	ul, ol{
		padding-left:18px;
		margin-bottom:10px;
		li{
			counter-increment: item;
			position: relative;
			list-style-type: disc;
			margin-bottom: 5px;
			ul, ol{
				list-style: none;
				counter-reset: item;
				padding-left: 10px;
				margin-top: 5px;
				li{	
					list-style-type: none;
					padding-left: 20px;
				    &:before{
				    	content: counter(item,disc);
						display: inline-block;
					    position: absolute;
					    left: 0;
					    top: 0;
					    text-align: center;
					    font-weight: 800;
					    color: #cfcfcf;
				    }
				}
			}
		}
	}
	img{
		width:auto;
		height:auto;
		margin:20px 0;	
		clear:both;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	blockquote, em{
		font-style:italic;
	}
	a{
		color: #55585c;
		font-weight: 600;
	}
}

.dashboard{
	background-color: #706862;
	font-size:$sch-s-small;
	font-weight: $sch-light;
	margin-bottom: 20px;
	padding: 10px 0;
	color: $sch-white;
	a{
		display:inline-block;
		margin-right:5px;
		color: #dcd1c8;
		@include transition(color, 300ms linear);
		&:hover{
			color: $sch-white;
		}
	}
	
	.arrow{
		margin-right:5px;
		display:inline-block;
	}
}

.align-middle{
	text-align:center;
}

.align-right{
	text-align:right;
}

.aligncenter{
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

img{
	//max-width:100%;
	display: block;
	&.single-img{
		@include breakpoint(500px){
			margin-bottom: 30px;
		}
	}
}

#wpadminbar{
	display:none !important;
}

.cookie-bar-bar button#catapultCookie {
	margin-left: 5px !important;
}
  
.has-cookie-bar #catapult-cookie-bar {
	padding: 10px 20px 10px !important;
}
  
.ctcc-inner {
	font-size: $sch-s-very-small;
}
  
.relative{
	position: relative;
}

button {
	outline: none;
}

a{
	cursor: pointer;
	&.read-more{
		font-style: italic;
		text-align: center;
    	display: block;
	}
}

#catapult-cookie-bar{
	.ctcc-inner{
		font-size: 12px !important;
	}
	button{
		font-size: 11px !important;
		font-weight: $sch-semibold;
	}
}