$font-page: "Source Sans Pro";

/* BACKGROUNDS */
$sch-bg-basic:#fff;
$sch-bg-header:#242636;
$sch-bg-footer:#242636;

/* BOTH */

$sch-basic:#756d66;
$sch-white:#fff;
$sch-blue:#242636;
$sch-beige:#a29a93;

/* SIZES */

$sch-s-large: 52px;
$sch-s-very-big: 28px;
$sch-s-big: 26px;
$sch-s-medium: 18px;
$sch-s-normal: 14px;
$sch-s-small: 12px;
$sch-s-very-small: 11px;
$sch-s-extra-small: 10px;

/* WEIGHT */

$sch-light: 300;
$sch-regular: 400;
$sch-medium: 500;
$sch-semibold: 600;
$sch-bold: 700;
$sch-extrabold: 800;