footer{
	background-color: $sch-bg-footer;
	padding: 20px 0;
	font-size: $sch-s-small;
	color: $sch-white;
	.container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	img{
		height: 30px;
		margin-right: 10px;
	}
}

.smc-scroll-top {
    opacity: 0;
    z-index: 555;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: $sch-beige;
    background-image: url("../images/arrow-up.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .3s linear;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    &.is-active{
    	opacity: 1;
    }
}

.embassy{
    margin: auto;
    margin-bottom: 15px;
    font-style: italic;
    text-align: center;
    max-width: 80%;
}