.container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
  z-index:90;
  @include breakpoint(1201px){
    max-width:95%;
  }
  @include breakpoint(767px){
    max-width:95%;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

$lv-grid-spacing:2%;

%clearfix:after {
  display:block;
  clear:both;
  content:'';
}

[class^="col-"] {
  float:left;
  padding: 0 $lv-grid-spacing/2;
  position:relative;
}

.row {
  @extend %clearfix;
  margin: 0 $lv-grid-spacing/-2;
  & + & {
    margin-bottom: $lv-grid-spacing;
  }
}

// desktop

@include  grid("d");

// medium desktop

@include breakpoint(1650px) {
  @include  grid("md");
}

// medium-small desktop

@include breakpoint(1450px) {
  @include  grid("msd");
}

// small desktop

@include breakpoint(1350px) {
  @include  grid("sd");
}

// tablet

@include breakpoint(1250px) {
   @include  grid("t");
}

// medium tablet

@include breakpoint(1199px) {
  @include  grid("mt");
}

// small tablet

@include breakpoint(800px) {
  @include  grid("st");
}

// mobile

@include breakpoint(700px) {
  @include  grid("m");
}

// small mobile

@include breakpoint(500px) {
  @include  grid("sm");
}