.swim-menu{
	position:fixed;
	top:0;
	left:0;
	z-index:444;
	width:100%;
	background-color: $sch-bg-header;
	padding: 25px 0;
	&.transparent{
		background: rgba(0,0,0,.5);
	}	
	@include transition(all, 300ms ease-out);
	.container{
		max-width: 98%;	
		display: flex;
		justify-content: space-between;
		@include breakpoint(767px){
			flex-wrap: wrap;
			max-width: 95%;
		}
	}
	&.shadow{
		-webkit-box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.7);
		-moz-box-shadow:    0px 2px 15px 0px rgba(50, 50, 50, 0.7);
		box-shadow:         0px 2px 15px 0px rgba(50, 50, 50, 0.7);
	}
	header{
		position:relative;
		display:block;
		.smc-logo{
			display: flex;
			align-items: center;
			.smc-logo-master{
				img{
					height: 55px;
					margin-right: 10px;
					@include breakpoint(1200px){
						height: 35px;
					}
				}
			}
			.smc-logo-nck{
				height: 60px;
				@include breakpoint(1200px){
					height: 40px;
				}
			}
			@include breakpoint(767px){
				flex-basis: 100%;
			}
		}
		.smc-nav{
			display: flex;
		    flex-direction: column;
		    align-items: flex-end;
		    justify-content: center;
		    .nav-strip{
		    	display: flex;
		    	align-items: center;
		    	margin-bottom: 20px;
		    	@include breakpoint(1200px){
		    		margin-bottom: 0;
		    		margin-right: 60px;
		    	}
		    	@include breakpoint(767px){
		    		margin-right: 0px;
		    		margin-top: 15px;
		    		width: 100%;
		    	}
		    	.language{
		    		margin-left: 12px;
		    	}
		    }
		    @include breakpoint(767px){
				flex-basis: 100%;
			}
		}
		ul.menu{
			@include breakpoint(1200px){
				display: none;
			}
			text-align: center;
			font-size: 14px;
			text-transform: uppercase;
			li{
				&.current-menu-item, &.current-page-ancestor, &:hover{
					a{
						color: $sch-beige;
					}
				}
				display:inline-block;
				position:relative;
				@include transition(all, 500ms ease-out);
				a{
					display: block;
					color: $sch-white;
					@include transition(all, 500ms ease-out);
					margin-left: 25px;
				}
			}
		}
	}
}

.search-box{
	display: flex;
	margin-right:10px;
	@include breakpoint(767px){
		flex-grow: 1;
	}
}

.languages{
	display: flex;
	text-transform: uppercase;
	color: $sch-white;
	.active{
		padding: 0 5px;
	}
	a{
		color: $sch-beige;
		padding: 0 5px;
		@include transition(all, 500ms ease-out);
		&:hover{
			color: $sch-white;
		}
	}
}

.mobile-menu-btn {
	display: none;
	position: fixed;
	top:22px;
	right: 14px;
    justify-content: space-between;
    align-items: center;
    margin-right: -15px;
    padding: 10px 15px 10px 20px;
    background-color: rgba(16, 16, 16, 0.35);
    border-radius: 10px 0 0 10px;

    span {
        margin-right: 22px;
        font-size: 12px;
        color: $sch-light;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    img {
        width: 28px;
        height: 28px;
    }

    @include breakpoint(1200px) {
        display: flex;
    }
}

.mobile-menu {
    position: absolute;
    overflow-y: scroll;
    right: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    background: linear-gradient(90deg, #313131 10%, #434343 100%);
    box-shadow: -5px 0 10px 1px rgba(16, 16, 16, 0.4);

    &-wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 999;
        transform: translateX(0%);
        transition: transform 0.3s ease;

        &.is-closed {
            transform: translateX(110%);
        }

        @include breakpoint-min(1201px) {
            display: none;
        }
    }

    h4 {
        padding: 40px 30px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-size: 24px;
    }

    li {
        padding: 14px 30px;
        border-bottom: 1px solid #434343;

        &:nth-child(1) {
            border-top: 1px solid #434343;
        }

        &.current-menu-item, &.current-page-ancestor, &:hover{
			a{
				color: $sch-beige;
			}
		}
    }

    a {
        display: inline-flex;
        align-items: center;
        color: $sch-white;
        font-weight: 700;
        letter-spacing: 0.04em;
        font-size: 12px;
        text-transform: uppercase;

        img {
            width: 20px;
            height: 20px;
            margin-right: 18px;
        }
    }

    .close-btn {
        position: absolute;
        top: 40px;
        right: 30px;
        width: 16px;
        height: 16px;
        transform: translate(0, 50%);

        img {
            width: 100%;
            height: 100%;
        }
    }
}