input[type=email], 
input[type=text],
input[type=tel], 
input[type=password], 
textarea{
	width:100%;
	height:30px;
	line-height:30px;
	border:1px solid #d9d9d9;
	background:#fff;
	color:#79797b;
	padding-left:15px;
	font-size:14px;
	@include transition(all, 300ms linear);
}
	
textarea{
	height:155px;
	line-height:160%;
	padding-top:10px;
}

input[type=submit]{
	padding: 0 20px;
	height: 30px;
	border:2px solid $sch-beige;
	outline:none;
	text-align:center;
	cursor:pointer;
	color:#fff;
	font-size:$sch-s-small;
	font-weight: $sch-bold;
	text-transform:uppercase;
	background-color: $sch-beige;
	margin-left: 5px;
	-webkit-appearance:none;
	@include transition(all, 300ms linear);
	@include breakpoint(700px){
		width: 100%;
	}
	&:hover{
		background-color: $sch-blue;
	}
}	
	
::-webkit-file-upload-button{cursor:pointer;}	
	
::-webkit-input-placeholder{color:#79797b;}
:-moz-placeholder{color:#79797b;}
::-moz-placeholder{color:#79797b;}
:-ms-input-placeholder{color:#79797b;}

span.wpcf7-not-valid-tip{display:none !important;}	
input.wpcf7-not-valid, input.wpcf7-not-valid:focus, input[aria-invalid="true"], textarea.wpcf7-not-valid{border:2px solid red !important;}
div.wpcf7-validation-errors{border:0 !important;}
div.wpcf7-response-output{margin:0 !important;padding:0 !important;}
div.wpcf7-mail-sent-ok{border:0 !important;font-size:15px;margin-top:10px !important;font-weight: $sch-semibold;padding: 0 1% !important;font-style: italic;color: #398f14;}
div.wpcf7-validation-errors{font-size:14px;margin-top:10px !important;}
.ajax-loader{display:none !important;}

textarea, select{overflow:auto;resize:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
input[type=submit], select{-webkit-appearance:none;border-radius:0;outline:none;cursor:pointer;}
input[type=text], input[type=email], textarea{border-radius:0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;outline:none;}
input[type=text]:focus, input[type=email]:focus, textarea:focus{border:2px solid #3f4244;color:#52261e;}
select{-moz-appearance: none;text-indent: 0.01px;text-overflow: '';}
select::-ms-expand{display: none;}