@mixin breakpoint($val) {
  @media screen and (max-width: $val) {
    @content;
  }
}

@mixin breakpoint-min($val) {
  @media screen and (min-width: $val) {
    @content;
  }
}

@mixin grid ($device) {
  .col-#{$device}-1  { width:(100% / 12); }
  .col-#{$device}-2  { width:(100% / 6); }
  .col-#{$device}-3  { width:(100% / 4); }
  .col-#{$device}-4  { width:(100% / 3); }
  .col-#{$device}-5  { width:(100% / 2.4); }
  .col-#{$device}-6  { width:(100% / 2); }
  .col-#{$device}-7  { width:(100% / 1.714285714285714); }
  .col-#{$device}-8  { width:(100% / 1.5); }
  .col-#{$device}-9  { width:(100% / 1.333333333333333); }
  .col-#{$device}-10 { width:(100% / 1.2); }
  .col-#{$device}-11 { width:(100% / 1.090909090909091); }
  .col-#{$device}-12 { width:100%; }
  .col-#{$device}-equal-5  { width:(100% / 5); }
  .col-#{$device}-equal-7  { width:(100% / 7); }
  .col-#{$device}-hidden {display:none;}
  .col-#{$device}-show {display:inline;}
}

@mixin center-position($top: -50%, $left: -50%) {
	position:absolute;
	top:50%;	
	left:50%;
	-moz-transform: translate($top, $left);
	-ms-transform: translate($top, $left);
	-webkit-transform: translate($top, $left);
	transform: translate($top, $left);
}