.video-js{
    object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 0!important;
}

.video-sound{
	position: absolute;
	background:$sch-beige url("../images/mute-off.svg") no-repeat 50% 50%;
	background-size: 80% !important;
	width: 60px;
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
    border: 0;
    bottom: 20px;
    left: 50%;
	margin-left: -30px;
	-webkit-box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 2px 15px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 2px 15px 0px rgba(50, 50, 50, 0.7);
	animation: icon-move-infinite 3s ease-in-out infinite forwards;
    &.is-active{
    	background:$sch-beige url("../images/mute-on.svg") no-repeat 50% 50%;
    }
}

@keyframes icon-move-infinite {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}

ul.search-results{
	text-align: center;
	font-size: 16px;
	li{
		position: relative;
		margin-bottom: 8px;
		padding-left:25px;
		a{
			font-style: italic;
			color: $sch-beige;
			@include transition(color, 300ms linear);
			&:hover{
				color: $sch-blue;
			}
		}
	}
	@include breakpoint(800px){
		font-size: 14px;
	}
}

.media-partners{
	width:100%;
	background-color: $sch-white;
	padding: 30px 0 20px 0;
	&.bottom-site{
		position: absolute;
		bottom:0;
		background: rgba(0,0,0,.5);
		display: none;
	}
	img.sygnet{
		width: 100px;
	}
	ul{
		display: flex;
		display: -webkit-flex; 
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		justify-content: space-evenly;
		-webkit-justify-content: space-evenly;
		align-items: center;
		padding: 15px 0 0;
		li{
			img{
				height: 45px;
				margin-bottom:20px;
				@include breakpoint(1024px){
					height: 35px;
				}
			}
		}
	}
}

.artists{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.person{
		flex-basis: 48%;
		margin-top: 40px;
		@include breakpoint(767px){
			flex-basis: 100%;
		}
		h2{
			text-transform: uppercase;
			margin: 25px 0;
			text-align: center;
			font-size: 18px;
			font-weight: $sch-semibold;
		}
	}
	.info{
		display: flex;
		justify-content: center;
		align-items: center;
		.social-media{
			margin-left: 10px;
		}
	}
}

.person-website-container{
	display: flex;
	justify-content: center;
	align-items: center;
	.person-website{
		display: flex;
		justify-content: center;
		margin: 15px 0;
		background-color: $sch-beige;
		color: $sch-white;
		border-radius: 4px;
		padding: 5px 10px;
		@include transition(color, 300ms linear);
		&:hover{
			background-color: $sch-blue;
		}
	}
}

.single-fb{
	margin-left: 10px;
	img{
		width: 25px;
	}
}

ul.social-media{
	display: flex;
	justify-content: center;
	li{
		margin: 0 3px;
		list-style-type: none;
		img{
			width: 25px;
		}
	}
}

.lessons{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.lesson-box{
		position: relative;
		flex-basis: 33%;
		margin-bottom: 25px;
		cursor: pointer;
		&:before{
			content:"";
			width:100%;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			opacity: 0;
			background-color: rgba(0,0,0,.6);
			pointer-events: none;
			@include transition(color, 300ms linear);
		}
		&.single-post{
			flex-basis: 100%;
			margin-bottom: 13px;
		}
		&:hover:not(.no-action){
			button.play, &:before{
				opacity: 1;
			}
		}
	}
	img{
		max-width: 100%;
	}
	button.play{
		@include center-position;
		opacity: 0;
		background:$sch-beige url("../images/play.svg") no-repeat 50% 50%;
		background-size: 80% !important;
		width: 40px;
	    height: 40px;
	    border-radius: 100%;
	    cursor: pointer;
    	border: 0;
    	@include transition(color, 300ms linear);
	}
}

.workshop{
	padding: 35px 0;
	background-color: #d2cbc5;
	&.light{
		background-color: $sch-white;
	}
	
	h3{
		margin-bottom: 25px;
	    font-size: 18px;
	    @include breakpoint(800px){
	    	font-size: 14px;
	    }
	}
}

h2.lesson-heading{
	margin-bottom: 25px;
    padding-left: 12px;
    border-left: 3px solid $sch-beige;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.8px;
    font-style: italic;
    @include breakpoint(800px){
    	font-size: 20px;
    }
}

h5.lesson-subheading{
	margin: -25px 0 20px 0;
    padding-left: 17px;
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
}

.box-half{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	@include breakpoint(800px){
		flex-basis: 49%;
	}
}

.lessons-heading{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
	background-color: $sch-beige;
	color: $sch-white;
	padding: 10px 40px;
	margin-bottom: 10px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	&.is-hide{
		display: none;
	}
	@include breakpoint(800px){
    	font-size: 10px;
    	padding: 10px;
    	height: 50px;
    	letter-spacing: -0.3px;
    }
}

.btn-container{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	.btn{
		background-color: $sch-beige;
		color: $sch-white;
		border-radius: 4px;
		padding: 5px 10px;
		@include transition(color, 300ms linear);
		&:hover{
			background-color: $sch-blue;
		}
	}
}

a.buy-note{
	display: inline-flex;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 20px;
    font-style: italic;
    padding: 5px;
    background-color: #a29a93;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
   	@include transition(color, 300ms linear);
	&:hover{
		background-color: $sch-blue;
	}
    &.second{
    	margin-bottom: 0;
    }
	img{
		width: 16px;
		margin-right: 8px;
	}
}

@include breakpoint(1024px){
	iframe{
		height: 400px;
	}
}

@include breakpoint(800px){
	iframe{
		height: 300px;
		margin-bottom: 10px;
	}
}